@model IEnumerable<Todo>;
@{
  ViewData["title"] = "Todo";

}


<section class=" center" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8 col-xl-6">

        <div class="card rounded-3">
          <div class="card-body p-4">

            <p class="mb-2"><span class="h2 me-2">Todos</span> <span
                class="badge bg-danger">checklist</span></p>

            <ul class="list-group rounded-0">
                  @foreach (var obj in Model)
              {

                    <li class="list-group-item border-0 d-flex align-items-center ps-0" >
                      <input class="form-check-input me-3" type="checkbox" value="" aria-label="..."  checked />
                      <s>@obj.Name</s>
                    </li>

              }
            </ul>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Shared with</p>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>